name: Deploy
on:
  push:
    branches:
      - master

jobs:
  deploy:
    permissions:
      contents: 'read'
      id-token: 'write'
    runs-on: ubuntu-latest
    container:
      image: cimg/android:2024.04.1
      options: --user root
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v6
      - name: Unit Tests
        run: ./gradlew test
      - name: Bundle
        env:
          REPERTOIRE_KEY_ALIAS: ${{ secrets.REPERTOIRE_KEY_ALIAS }}
          REPERTOIRE_KEY_PASSWORD: ${{ secrets.REPERTOIRE_KEY_PASSWORD }}
          REPERTOIRE_STORE_FILE_PATH: ${{ secrets.REPERTOIRE_STORE_FILE_PATH }}
          REPERTOIRE_STORE_PASSWORD: ${{ secrets.REPERTOIRE_STORE_PASSWORD }}
        run: |
          echo ${{ secrets.REPERTOIRE_KEYSTORE }} > "$REPERTOIRE_STORE_FILE_PATH.base64"
          base64 --decode "$REPERTOIRE_STORE_FILE_PATH.base64" > "$REPERTOIRE_STORE_FILE_PATH"
          rm -f "$REPERTOIRE_STORE_FILE_PATH.base64"
          ./gradlew bundleRelease
          rm -f "$REPERTOIRE_STORE_FILE_PATH"
      - name: Ensure signing keys are erased
        if: ${{ always() }}
        env:
          REPERTOIRE_STORE_FILE_PATH: ${{ secrets.REPERTOIRE_STORE_FILE_PATH }}
        run: |
          rm -f "$REPERTOIRE_STORE_FILE_PATH.base64"
          rm -f "$REPERTOIRE_STORE_FILE_PATH"
      - name: Install Python dependencies
        env:
          DEBIAN_FRONTEND: noninteractive
        run: |
          apt-get update && apt-get install --no-install-recommends python3-pip
          python -m pip install --requirement requirements.txt
      - uses: 'google-github-actions/auth@v3'
        with:
          workload_identity_provider: 'projects/727006907851/locations/global/workloadIdentityPools/github-pool/providers/github-provider'
          service_account: 'publishgoogleplay@pc-api-9058766712512086413-546.iam.gserviceaccount.com'
      - name: Deploy
        run: |
          git config --global --add safe.directory "$PWD"
          python release_to_google_play.py
