name: Verify version bump
on:
  push:
    branches-ignore:
      - master

jobs:
  verify:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Verify version bump
        run: git diff origin/master | grep 'versionCode ='
